# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
# Never commit your .env file with secrets!
.env
credential.json

# Log files
# Specifically ignore the log file from your project structure
app/logutils/api_logs.csv
# General rule for any other log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

extract.py
codebase_summary.md

.DS_Store