# Web Framework
fastapi
uvicorn[standard]

# OpenAI & LangChain
openai
langchain==0.3.27
langchain-core
langchain-openai

# Google GenAI
langchain-google-genai 
google-cloud-aiplatform

# Data Validation
pydantic

# Utilities
python-dotenv
scipy
google-cloud-storage
pillow